@model ProductQuantityModel
@{
	ViewData["title"] = "Add Quantity Product";
}
<div class="col-md-9">
	<form asp-action="StoreProductQuantity" asp-controller="Product" enctype="multipart/form-data">
		<input type="hidden" name="ProductId" value="@ViewBag.Id" />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label>Quantity</label>
			<input min="1" value="1" max="1000" asp-for="Quantity" class="form-control" />
			<span asp-validation-for="Quantity" class="text-danger" />
		</div>
		<div class="form-group">
			<button class="btn btn-primary">Create</button>
		</div>
	</form>
	<a asp-action="Index" asp-controller="Product">Back to list</a>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
